@import url('reset.css');

/* header */
#main_header{
    width: 960px;
    margin: 0 auto;
    /* border: 1px solid #777; */
    height: 160px;
    position: relative;
}

.main_gnb {
    position: absolute;
    right: 0;
    top: 0;
}

.main_gnb > .box {overflow: hidden;}
.main_gnb > .box > li {float: right; border: 1px solid #777; padding: 2px 5px;}
.main_gnb > .box > li:first-child {border-radius: 10px 0 0 10px;}
.main_gnb > .box > li:last-child {border-radius: 10px 0 0 10px;}
.main_gnb > .box > li:hover {background: #333; }

.sub_gnb > .box {overflow: hidden;}
.sub_gnb > .box > li {float: right; border: 1px solid #777; padding: 5px 10px;}
.sub_gnb > .box > li:first-child {border-radius: 0 10px 10px 0;}
.sub_gnb > .box > li:last-child {border-radius: 10px 0 0 10px;}
.sub_gnb > .box > li:hover {background: #333; }


.title {
    position: absolute;
    left: 0;
    top: 0;
}

.sub_gnb {
    position: absolute;
    right: 0;
    bottom: 10px;
}


/* main */
#main_content {width: 960px; margin: 0 auto; }
#main_content:after {content: ""; display: block; clear: both;}

/* .main_section {width: 750px; float: left;} */
.main_section > box {border: 1px solid #777; padding: 20px; margin-bottom: 10px;}

.main_article {width: 200px; float: right; border: 1px solid #777;}
.main_article > .btn_area {overflow: hidden;}
.main_article > .btn_area > .left {float: left; width: 50%; text-align: centers; background-color: gray; color: white; padding: 10px 0;}

.tab_list li {padding: 10px;}
.tab_list li a {overflow: hidden; display: block;} /* a가 부모. 인라 */
.tab_list li a .thumbnail {float: left;} /* float으로 쌓일 부분 */
.tab_list li a .description {float: left; margin-left: 10px;}

.tab_list li a .description string {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; width: 120px;}

/* footer */
#main_footer {border: 1px solid #777; text-align: center; width: 960px; margin: 0 auto; padding: 15px; box-sizing: border-box;}