*{padding: 0; margin: 0;}
ul, li {list-style: none;}
image{max-width: 100%; height: auto;}

header{position: relative;}
header .social {position: absolute; left: 15px; top: 15px; overflow: hidden;}
header .social li {
    float: left; 
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    background-image: url(images/social.png);
}

header ul.social li:nth-child(2) {background-position: -32px 0;}
header ul.social li:nth-child(3) {background-position: -64px 0;}
header ul.social li:nth-child(4) {background-position: -96px 0;} 

header h1 {text-align: center; margin: 20px 0;} /* 마진:위아래 좌우 */

header .loginMenu {position: absolute; right: 15px; top: 20px;}
header .loginMenu  {overflow: hidden;} /* 부모영역 */ 
header .loginMenu li {float: left; padding-left: 30px;}  /* float으로 li를 쌓을 것 */
header .loginMenu li a {text-decoration: none; font-size: 12px; color: darkorchid;}


.mainMenu {text-align: center;}
.mainMenu > li {display: inline-block;}
.mainMenu > li > a {display: block; padding: 20px 30px; color: #555; text-decoration: none;}

/* 아티클영역 */
#main_article {
    margin-top: 125px;
    height: 500px; 
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    text-align: center;
    border-top: 3px solid red;
}
#main_article > h3 {font-size: 50px; color: white; padding-top: 50px;}  /* margin-top: 10px; */
#main_article > p {font-size: 25px; color: white;}

/* 메인영역 */
#main_section > .title {border-bottom: 3px dashed #ddd; padding: 5px 0; font-size: 15px; text-align: center;}

#main_section > .box_list {text-align: center;} /* ul에 가운데 정렬 */
#main_section > .box_list > li {display: inline-block; padding: 30px;}
#main_section > .box_list > li > h6 {color: #ddd;}

/* footer */
#main_footer {overflow: hidden; border-top: 1px solid #777; padding: 10px 20px; margin-top: 130px;}
#main_footer > .left {float: left;}
#main_footer > .right {float: right;}



