/* 디자인 시작전에 공통적으로 선언 */
/* 폰트부터 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}

img {
    max-width: 100%;
    height: auto;
}


ul, li, ol, dd, dl {
    list-style: none;
}


input, textarea, select, button{
    /* 브라우저별로 기본디자인을 제거해서 동일한 디자인으로 보여질 수 있도록 서언 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* border: none; */
}

/* border-radius 기존 것을 다 덮어버리는 작업 */
.form-control {border-radius: none;}
.btn {border-radius: 0;}



/* ###########header########### */

.my-header {    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

.my-nav {
    background-color: #263238; 
    border: none;
    border-radius: 0;
    margin: 0;
}

.navbar-nav > li > a {
    color: #fff;
}
.navbar-nav > li > a:hover {
    background-color: rgb(83, 83, 83);
}

.my-nav .navbar-brand {padding: 8px;}
.my-nav .navbar-brand img {
    height: 35px;
}

/* ############article############ */
.my-article {margin-top: 50px;}

.carousel-control.right{
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) 100%);
}
.carousel-control.left{
    background-image: linear-gradient(to left, rgba(0,0,0,0) 0, rgba(0,0,0,0) 100%);
}


/* ##########section########## */
.prod-list{padding: 5px; border: 1px solid #ddd;}
.prod-list > li[class*="col-"] { /* prod-list 아래 li태그 중에서 클래스명이 col-클래스를 전부 다 선택. */
    padding: 5px; /* li태그 중 class속성에 col-이 포함된 태그 전부 다 */
}
.prod-link {
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    position: relative;
}

.prod-link > .arrow {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    background-color: #ddd;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.prod-link > .hover {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    background-color: rgb(78, 142, 238) ;
    width: 100px;
    height: 40px;
    line-height: 40px;
    opacity: 0;
}

.prod-link:hover > .arrow {
    opacity: 0;
}
.prod-link:hover > .hover {
    opacity: 1;
}

.prod-link:hover {
    border-color: rgb(77, 123, 250);
}


/* ##########section########## */

.blog-wrap > .inner { 
    border: 1px solid #ddd; 
    position: relative;
}

.blog-wrap .blog-content {
    padding: 10px;
}
.blog-wrap .blog-content > p {
    font-weight: 800;
    font-size: 15px;
    height: 60px;
    overflow: hidden;
}

.blog-price {
    overflow: hidden;
}

.blog-price .left {float: left; overflow: hidden;} 
.blog-price .right {float: right;}

.blog-price ul.left  > li {float: left; color: rgb(255, 239, 9);}

.blog-hover-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* 부모영역 기반으로 꽉 채우게 둘다 100% */
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
}   

.blog-wrap .inner:hover > .blog-hover-content {
    opacity: 1;
}

@media (min-width: 1200px) {
    
    .blog-wrap.col-lg-2{
        width: 20%;
    }
}
